# MacOSX
.DS_Store

# XCode
*.pbxuser
xcuserdata

# AppCode
/.idea

# Dependencies via CocoaPods
/Podfile.lock
/Pods
/Libraries/Charts/build
/Packages/BRCybertron/Sources/BRCybertron/libxslt/libxslt
/Packages/BRCybertron/Sources/BRCybertron/libxslt/libexslt

*.xcscmblueprint
/build
qt-ios-prebuilt.zip*
