# Ignore all externals upstream files
/externals/**/upstream.*

# Ignore all shipped resources (since they are downloadable)
/ShippedResources

# MacOSX
.DS_Store

# XCode
*.pbxuser
xcuserdata

# AppCode
/.idea

