<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>GPS Exchange Format (GPX)</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.topografix.gpx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sqlitedb</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-sqlite3</string>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Map Creator SQLite Database</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.osmand.sqlitedb</string>
			</array>
			<key>NSPersistentStoreTypeKey</key>
			<string>SQLite</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>net.osmand.maps</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>osmandmaps</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3.2</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Advertisement would like to use bluetooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Advertisement would like to create a calendar event.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This permission is required to use such features as: background GPX recording, navigation etc.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This permission is required to use such features as: background GPX recording, navigation etc.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This permission is required to use such features as: background GPX recording, navigation etc. when OsmAnd is in foreground only.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Advertisement would like to store a photo.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>opengles-2</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GPS Exchange Format (GPX)</string>
			<key>UTTypeIdentifier</key>
			<string>com.topografix.gpx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.topografix.com/GPX/1/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gpx</string>
					<string>GPX</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/gpx+xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.database</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Map Creator SQLite Database</string>
			<key>UTTypeIdentifier</key>
			<string>net.osmand.sqlitedb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sqlitedb</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-sqlite3</string>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GPS Exchange Format (GPX)</string>
			<key>UTTypeIdentifier</key>
			<string>com.topografix.gpx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.topografix.com/GPX/1/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gpx</string>
					<string>GPX</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/gpx+xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.database</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Map Creator SQLite Database</string>
			<key>UTTypeIdentifier</key>
			<string>net.osmand.sqlitedb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sqlitedb</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-sqlite3</string>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
